$textFont:'Poppins', sans-serif;
$displayFont: 'Playfair Display', serif;
$paragraphFont: 'Open Sans', sans-serif;
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
$green: #C8E364;
$red: #911A20;
$black: #202020;
$gray: #9A989A;
$blue: #131A22;