
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,700,900|Poppins:400,600');
@import "variables";
@import "reset";
@import "grid";
@import "TopImg";
@import "Header";
@import "OurStory";
@import "SpecialMenu";
@import "Quote";
@import "Reviews";
@import "ContactUs";
@import "Footer";
@import "Global";

body {
  font-family: $textFont;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

